@charset "ISO-8859-1";

body{
	width: 99%;
	margin: 0 auto;
}

p{
	margin: 0;
}

.main{
	width: 100%;
	margin: 0 auto;
	float: left;
}

.product_div{
	width: 100%;
	border: 2px solid pink;
	border-radius: 5px;
	
}

.product_div input[type="text"]{
	border: none;
	font-size: 15px;
	padding-left: 10%;
}

.product_image{
	width: 40%;
	height: 500px;
	margin: 0 auto;
	margin-top: 1%;
	border: 2px solid black;
	
	
	
}

.product_image img{
	width: 100%;
	height: 100%;
	
	
}

.product_description{
	width: 54%;
	margin: 0 auto;
	margin-top: 1%;
	
}

.title{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: pink;
	margin: 0 auto;
}

.description{
	text-align: center;
	font-size: 15px;
	color: black;
	margin: 0 auto;
}

.prezzo{
	width: 15%;
	text-align: center;
	margin: 0 auto;
	font-size: 25px;
}

.taglie_acquisto{
	width: 15%;
	margin: 0 auto;
}