@charset "ISO-8859-1";

body{
	width: 99%;
	margin: 0 auto;
}

.main{
	width: 100%;
}

.carrello{
	width: 80%;
	height: 700px;
	border: 2px solid pink;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 10px;
	
}

.item_carrello{
	height: 95.7%;
	margin: 1%;
	width: 25%;
	border: 2px solid pink;
	border-radius: 5px;
}

.item_carrello .vuoto{
	margin-top: 65%;
	color: red;
	font-size: 15px;
	text-align: center;
	
}