@charset "UTF-8";

@media screen and (max-width:768px) {
	
.header1{
	width: 300%;
}

/*
.colonna1{
	width: 15%;
	;
}

.colonna2{
	width: 70%;
}

.colonna3{
	width: 15%;
}
*/





}






















