@charset "UTF-8";

@media screen and (max-width:768px) {

.logoimg{
	margin-top:5px;
	margin-left:0px;
	width:px;
}	


.logo{
	width:60px; height:60px;
}

.menu,.content-menu{
	width:100%;
	text-align:center;
	padding-left:0px;
}

ul#lista li {
	font-size:15px;
	padding:5px;
}

.colonna1,.colonna2,.colonna3{
text-align:center;
}



.tipi{
	height:350px;
}

.navigation-manual{
	margin-top:-20px;
	size:10%;
}

.slide img{
	max-width:100%;
	height:200px;
     margin-top:0px;
}

.slider{
    width: 100%;
    height: auto;
    margin-top:20px;
    border-radius: 5px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: auto;
    display: flex;
    margin-top:20px;
}

.slides input{
    display: none;
}


.descrizione h2{
	font-size:15px;

}
.descrizione{
	line-height:20px;
}

p{
	font-size:10px;
}

.immagine{
	height:300px;
	width:170px;
	margin-left:5px;
}

.information-div{
	height:350px;
}

.descrizione1 h2{
	font-size:15px;

}

.descrizione1{
	line-height:20px;
	margin-top:-200px;
	margin-left:160px;
}

.immagine1{
	height:240px;
	width:280px;
	margin-left:-50px;
}

.information-div1{
	height:350px;
}

.container_content{
	padding-left:0px;
	margin-left:-65px;
	margin-top:20px;
}

span.title{
    font-size: 15px;
    font-family: didot;
}

.container_content ul li{
	font-size:13px;
}

span.subtitle{
	font-size:14px;
}

ul.pagaments{
	padding-top:10px;
}

.header1{
	width: 100%;

}


.colonna2{
	display:none;
}

.colonna3{
  margin-left:210px;
}
 







nav{
    height:100%;
    background-color:pink;
    position:fixed;
    width:100%;
    margin-top:54px;
    visibility:hidden;
    overflow:auto;     
}



nav ul li a {
    padding: 30px 30px 30px 30px;
    display:block;
    color:black;
    font-size:18px;
    transition: background-color 0.5s ease;
    text-decoration:none;
    margin-left:-320px;
}

 

.submenu{
    color:pink;
    padding-left: 0px;
    padding-bottom: 5px;
}



/*  bar per l'attivazione del menu */

 

#bar{
    background-color: pink ;
    height:71px;
    width:100%;
    z-index:2;
    position:fixed;
    /*box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.4);*/
}

.menu-visibility{
	transition:2s;
}

#bar #logo{
    float:right;
}

#hamburger {
  display: none;
}

.menuicon {
     position:fixed;
    height:70px;
    width:70px;
    margin-left:0px;
    z-index:3;
}

#imgmenu{
	margin-top:10px;
	margin-left:50px;
}

.menuicon  span {
    display: block;
    top: 25px;
    width: 40px;
    height:3px;
    left:0px;
    background-color: #fff;
    position: relative;
    border-radius:20px;
    transition-duration: 2s;  
    transition-delay: 2s;
}

.menuicon  span::before {
      margin-top: -10px;
}
.menuicon  span::after {
      margin-top: 10px;
} 

#hamburger:checked ~ .menu-visibility {
      visibility:visible;
}
    



















}