@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: URL(images/sfondo.png);
	background-attachment: fixed;
	background-size: cover;
  	position: relative;
}


header h1{
	position: obsolute;
}

#menu{
	top: 50%;
	left: 50%;
	margin-top: 375px;	
	position: absolute;
	text-align: center;
}


#menu ul{
	list-style-type: none;
	padding: 0px;
	
}

#menu li{
	color: red;
	margin-bottom: 1.5em;
}

#menu a{
	text-decoration: none;
	color:  red;
}

.link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #ff0000;
	transition: width .3s;
}

.link:hover::after{
	width: 100%;
	transition: width .3s;
}

#background-image{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
}