@charset "ISO-8859-1";

body {
	background: red;
 	width: 100%;
	height: 100%;
}

@media screen and (min-width: 480px) {
 body {
  background: URL(images/sfondo.png);
 	 width: 100%;
	height: 100%;
 }
 
 .header{
	width: 98.8%;
	position: fixed;
	backface-visibility: hidden;
	z-index: 10000;
	background: #fff;
	border: 2px solid black;
	border-radius: 5px;
 }
 
 .tipi{
 	margin-top: 75px;
 	width: 98.8%;
 	height: 50%;
 	position: fixed;
 	border: 2px solid white;
 	border-radius: 5px;
 }
 
 #header .header-content{
 	max-width: 1920px;
	margin: auto;
	border-bottom: 1px solid #ddd;
 }
 
#header .content{
 	position: relative;
	padding-left: 30px;
	padding-right: 30px;
 }
 
#header .containerfluids{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.colonna1, .colonna2, .colonna3{
	float: left;
	height: 70px;
}

.colonna1{
	width: 25%;
}

.colonna2{
	width: 65%;
}

.colonna3{
	width: 10%;
}

.logindiv{
	padding-top: 8px;
	padding-left: 45px;
}

a#login{

}

.menu{
	height: 70px;
	width: 750px;
	padding-left: 70px;
	background-color: red;
}

ul#lista{
	line-height: none;
	margin-top: 0;
	margin-bottom: 2px;
}

ul#lista li{
	float:left;
	list-style:none;
	font-size: 20px;
	padding: 0 30px;
	
}

.content-menu{
	height: 30px;
	padding-top: 24px;
	background-color: 	#6495ed;
	display: flex;
    align-items: center;
    justify-content: left;
    margin-left: -10px;
}

.logoimg {
	width: 120px;
	height: 50px;
	padding-left: 125px;
	padding-top: 9px;
}

.logo{
	border: 1px solid black;
	padding: 1px;
	border-radius: 5px;
}


}
