@charset "ISO-8859-1";


 .header{
	width: auto;
	height: 70px;
	backface-visibility: hidden;
	z-index: 10000;
	background-color: pink;
	border: 2px solid pink;
	border-radius: 5px;
 }
 
#lista .cool-link, .info a{
 	text-decoration: none;
 	color: black;
 	animation: .3s;
 
 }
 
 #lista a:hover, .info a:hover{
 	color:white;
 	animation: .3s;
 }
 
 .cool-link::after, .info a::after{
 	content: "";
 	display: block;
 	width: 0;
 	height: 2px;
 	background:pink;
 	transition: width .3s ;
 }
 
 .cool-link:hover::after{
 	width: 100%;
 	transition: width .3s ;
 }
 
 #header .content{
 	position: relative;
	padding-left: 30px;
	padding-right: 30px;
 }
 
 .row {
    margin-right: -15px;
    margin-left: -15px;
}

.colonna1, .colonna2, .colonna3{
	float: left;
	height: 70px;
		background-color: pink;
}

.colonna1{
	width: 15%;
}

.colonna2{
	width: 75%;
    background-color: pink;
	margin: 0 auto;
	
}

.colonna3{
	width: 10%;
	
}

.logindiv{
	padding-top:10px;
	padding-left: 30px;
}

ul#lista{
	line-height: none;
	margin-top: 0;
	margin-bottom: 2px;
}

ul#lista li{
	float:left;
	list-style:none;
	font-size: 20px;
	padding: 0 30px;
	
}

.content-menu{
	height: 30px;
	width:80%;
	padding-top: 24px;
	padding-left: 300px;
    background-color: pink;
	display: flex;
    align-items: center;
    justify-content: left;
}

.logoimg {
	width: 40px;
	height: 20px;
	margin-top: -15px;
	margin-left: 40px;
}

.info{
	font-size: 12px;
}

p{
	font-family:didot;
	font-size:25px;
}

#lista a .selected{
	color: white;
}


#menu{
	position: absolute;
	font-size: 5px;
	margin-left: 360px;
	line-height: 10px;
	text-align: left;
	margin-top: 10px;
}

#menuButton{
	outline: none;
	font-family: didot, serif;
	padding: 0px;
	border: none;
	background-color: pink;
	font-size: 20px;
}

#menuButton :hover{
	color: white;
}

















