@charset "ISO-8859-1";


 .header{
	width: auto;
	height: 70px;
	backface-visibility: hidden;
	z-index: 10000;
	background-color: pink;
	border: 2px solid pink;
	border-radius: 5px;
 }
 
#lista .cool-link, .info a{
 	text-decoration: none;
 	color: black;
 	animation: .3s;
 
 }
 
 #lista a:hover, .info a:hover{
 	color:white;
 	animation: .3s;
 }
 
 .cool-link::after, .info a::after{
 	content: "";
 	display: block;
 	width: 0;
 	height: 2px;
 	background:pink;
 	transition: width .3s ;
 }
 
 .cool-link:hover::after{
 	width: 100%;
 	transition: width .3s ;
 }
 
 #header .content{
 	position: relative;
	padding-left: 30px;
	padding-right: 30px;
 }
 
 .row {
    margin-right: -15px;
    margin-left: -15px;
}

.colonna1, .colonna2, .colonna3{
	float: left;
	height: 70px;
		background-color: pink;
}

.colonna1{
	width: 15%;
}

.colonna2{
	width: 75%;
    background-color: pink;
	margin: 0 auto;
	
}

.colonna3{
	width: 10%;
	
}

.logindiv{
	padding-top:10px;
	padding-left: 30px;
}

ul#lista{
	line-height: none;
	margin-top: 0;
	margin-bottom: 2px;
}

ul#lista li{
	float:left;
	list-style:none;
	font-size: 20px;
	padding: 0 30px;
	
}

.content-menu{
	height: 30px;
	width:80%;
	padding-top: 24px;
	padding-left: 300px;
    background-color: pink;
	display: flex;
    align-items: center;
    justify-content: left;
}

.logoimg {
	width: 40px;
	height: 20px;
	margin-top: -15px;
	margin-left: 40px;
}

.info{
	font-size: 12px;
}

p{
	font-family:didot;
	font-size:25px;
}

#lista a .selected{
	color: white;
}
/*
dropdown-content a{
	padding: 15px;
	display: block;
	
}

.dropdown-content{
	position: absolute;
	margin-top: 10px;
	text-align: center;
	background-color: gray; 
	display: none;
	
	
}

.dropdown{
	text-align: center;
	padding: 14px 16px;
	
	
}

{
	display: block;
}

*/
/*

nav{height: 52px; width: 100%; position: fixed; top: 0%; left: 0;}

nav ul ul{display: none; position: absolute; top:100%; left: 0; width: 100%;}

nav ul li{position: relative; float: left; width: 20%; text-align:center;}

nav ul li :hover ul{display: block;}

nav ul li li{position:relative; float: none; width: 100%; border:none;}

nav ul li a{display: block; padding: 15px 25px; box-sizing: border-box;}

nav ul li:hover a{ text-decoration: none; transition: 1s;}
*/


















