@charset "ISO-8859-1";


body{
	margin: 0 auto;
}

.titolo{
	width: 20%;
	margin: 0 auto;
}

.main{
	height: 1200px;
}

.titolo h1{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.image_profile{
	margin: 0 auto;
	width: 15%;
}

.image_profile label{
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	margin: 25%;
}

.image_profile img{
	width: 95%;
	height: 95%;
	border: 2px solid pink;
	border-radius: 20px;
}

#dati_profile{
	width: 50%;
	margin: 0 auto;
	border: 2px solid pink;
	border-radius: 10px;
}

#dati_profile input[type="text"]{
	border: none;
	border-bottom: 2px solid black;
	background-color: white;
	border-radius: 5px;
}

#dati_profile input[type="text"][value]{
	color: gray;
	text-align: center;
}

#dati_profile input[type="password"]{
	border: none;
	border-bottom: 2px solid black;
	background-color: white;
	border-radius: 5px;
}

#dati_profile input[type="password"][value]{
	color: gray;
	text-align: center;
}

#dati_profile h2{
	margin: 0;
	margin-top: 1%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.pulsanti{
	text-align: center;
	padding: 2%;
	margin-bottom: 2%;
}

#modifiche{
	width: 50%;
	margin: 0 auto;
	border: 2px solid pink;
	border-radius: 10px;
	display: none;
}

.error{
	margin-bottom: 4%;
}

#errore{
	margin: 0 auto;
	text-align:center;
	font-size: 20px;
	color: red;
}

.btn{
	margin-left: 2%;
	border: none;
	background: pink;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}

