@charset "UTF-8";


@media screen and (max-width: 480px){
	body{
		margin: 0 auto;
		
	}
	
	form h1{
		font-size: 25px;
		font-weight: bold;
		background-color: pink;
		width: 100%;
	}
	
	
	fieldset {
	border: 1px solid rgb(141, 141, 141);
    border-radius: 5px; 
    background-color: white;
   text-align:center;
}

	.campo{
		width: 80%;
		margin: 0 auto;
	
	}
	
	.fields{
		width: 95%;
		margin-left:-8px;
		border-radius: 5px;
	
	}
	
	.fields legend{
		font-size: 15px;
		text-align: center;
		background: white;
		border: 1px solid rgb(141,141,141);
		border-radius: 5px;
		padding:5px;
	
	}
	
	.fields textarea{
		width: 100%;
		
	}
	
	#name{
	margin-left:60px;
	margin-top:10px;
}

#surname{margin-left:40px;}

#phone{ margin-left:58px;
margin-top:10px;}

#email{ margin-left:60px;
margin-top:10px}

	select{
	margin-top:15px;}
	
	 #file{
  	cursor: pointer;
 	transition: all 0.3s;
 }
 
 #name, #surname, #phone, #email{
 	border-radius: 5px;
 }
#file:hover{
 	font-size: 14px;
 	
 	
 }
 
 
  
#submit {
	border-radius: 5px;
 	border: 1px solid black;
  	cursor: pointer;
 	transition: all 0.3s;
} 
 
#submit:hover{
 	font-size: 15px;
 	background-color: rgb(255, 209, 220, 0.3);
 	
 }
 
}







@media screen and (min-width: 480px){

* { font-family: 'didot', 'sans serif'; } 

body { 
	background-color: rgb(255,192,203);
	 } 

h1, input, textarea, select, option { 
	color: #555;
	 } 
	 
legend{
	border:1px solid rgb(141, 141, 141);
}

h1 { 
	font-weight: bold; 
	font-size: 30px; }


#subject { margin-left: 0px; } 

#message { margin-left: 0px; margin-bottom:-10px; margin-top:5px;}
 
 
#submit {
	border-radius: 5px;
 	border: 1px solid black;
  	cursor: pointer;
 	transition: all 0.3s;
} 
 
#submit:hover{
 	font-size: 15px;
 	background-color: rgb(255, 209, 220, 0.3);
 	
 }


input, textarea, select { padding: 8px; border: 1px solid rgb(141, 141, 141); border-radius: 5px; margin-top: 20px; } 

legend { background-color: #fff; font-weight: bold; padding: 10px; text-align:center; } 

fieldset {
	border: 1px solid rgb(141, 141, 141);
    border-radius: 5px; 
    background-color: white;
   text-align:center;
}
input [placeholder]{
 	color: pink;
 }
 
 #file{
  	cursor: pointer;
 	transition: all 0.3s;
 }
#file:hover{
 	font-size: 16px;
 	
 	
 }

.fields{
	 width: 50%;
	 height: 750px;
	 margin: 0 auto;
	border: 1px solid rgb(141, 141, 141);
    border-radius: 5px; 
    background-color: white;
   

}

.campo{
	margin: 0 auto;
}

.head{ 
	border-bottom: 1px solid rgb(141, 141, 141);
}

#name{
	margin-left:50px;
}

#surname{margin-left:30px;}

#phone{ margin-left:52px;}

#email{ margin-left:50px;}
}



