@charset "UTF-8";

* { font-family: 'didot', 'sans serif'; } 

body { 
	background-color: rgb(255,192,203);
	 } 

h1, input, textarea, select, option { 
	color: #555;
	 } 
	 
legend{
	border:1px solid rgb(141, 141, 141);
}

h1 { 
	font-weight: bold; 
	font-size: 30px; }


#subject { margin-left: 0px; } 

#message { margin-left: 0px; margin-bottom:-10px; margin-top:5px;}
 
 
#submit {
	border-radius: 5px;
 	border: 1px solid black;
  	cursor: pointer;
 	transition: all 0.3s;
} 
 
#submit:hover{
 	font-size: 15px;
 	background-color: rgb(255, 209, 220, 0.3);
 	
 }


input, textarea, select { padding: 8px; border: 1px solid rgb(141, 141, 141); border-radius: 5px; margin-top: 20px; } 

legend { background-color: #fff; font-weight: bold; padding: 10px; } 

fieldset {
	border: 1px solid rgb(141, 141, 141);
    border-radius: 5px; 
    background-color: white;
    text-align: center;
   
}
input [placeholder]{
 	color: pink;
 }
 
 #file{
  	cursor: pointer;
 	transition: all 0.3s;
 }
#file:hover{
 	font-size: 16px;
 	
 	
 }

.fields{
	 width: 50%;
	 height: 750px;
	 margin: 0 auto;
	border: 1px solid rgb(141, 141, 141);
    border-radius: 5px; 
    background-color: white;
    text-align:center;

}

.campo{
	margin: 0 auto;
}

.head{ 
	border-bottom: 1px solid rgb(141, 141, 141);
}








